@media (min-width: 1200px) {
    .svg-icon > .icon3 {
        display: none;
    }
    .svg-icon {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:1200px) {
    .center {
        display: none;
    }
    .search-button > .search {
        display: none;
    }
    .search-button {
        position: relative;left: -8%;
    }
    .svg-icon {
        display: flex;
        width: 100%;
    }
    .navbar2 > .navbar2-child > .search-button-2icon {
        width: 50%;
    }
}
@media(max-width: 720px) {
    .header-top {
        display: none;
    }
}
@media (max-width: 768px) {
    .background-third-photo > h3 {
        transition: 1s;
        font-size: 30px;
    }
    .new-this-week > h3 {
        transition: 1s;
        font-size: 30px;
    }
    .main-shop-by-classic > .shop-by-classics {
        transition: 1s;
        font-size: 30px;
    }
    .main-nike-membership > .nike-membership {
        transition: 1s;
        font-size: 30px;
    }
}
.line-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
}
@media (max-width:800px) {
    .line-four {
        transition: 0.5s;
        display: flex;
        flex-direction: column;
    }
    .main-nike-membership > .woman3-pic {
        display: grid;
        transition: 1s;
        grid-template-columns: 12fr;
    }
}

/* header  */
.header-top {
    background-color: #F5F5F5;
}
.header-child-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.list-header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
.list-header > li > span {
    margin: 5px;
}
.jordan-logo {
    display: flex;
    width: 70px;
    justify-content: space-between;
}
/* navbar  */
.navbar2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar2-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center > .list-navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}
.list-navbar > a {
    color: black;
    text-decoration: none;
}
.search {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 190px;
    height: 40px;
    border:  1px gray;
    background-color: #f5f5f5;;
    padding-left: 40px;
    outline: white;
}
.search-button {
    display: flex;
    align-items: center;
}
.search-button > svg {
    position: relative;
    left: 18%;
}
.nike-logo > .pre-logo-svg {
    width: 80px;
    height: 100%;
}
.logo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}
.logo-list > a {
    color: black;
}
.search-button-2icon {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.svg-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* discount */
.discount {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 58px;
    width: 100%;

}
.discount > p {
    margin-top: 18px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

/* pic-under-navbar */
.background-third-photo {
    background-color: white;
}
.third-line {
    width: 100%;
    height: 100%;
}
.image3 {
    width: 100%;
    height: 100%;
}

/* paragraph-under-pic */
.Shop {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
}
.button-shop :hover {
    background-color: gray;
}
.fly {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: bolder;
}
.jordan {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 0px;
    font-weight: bolder;
}
.Join {
    display: flex;
    justify-content: center;
    margin-top: 25px ;
    margin-bottom: 25px;
}
.button-shop {
    display: flex;
    justify-content: center;
}
.background-third-photo {
    margin-top: 48px;
}

/* fouth-pic */
.background-image1 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_635,c_limit/fa4dab4b-ba9c-4e4c-a1eb-5e3c063f11c8/nike-just-do-it.jpg");
}
.background-image2 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_635,c_limit/070d4f4f-5451-45c0-88e7-c828e30a63ea/nike-just-do-it.jpg");
}
.background-image3 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_635,c_limit/5f7fac34-c27f-47a9-b220-45c17f9a5925/nike-just-do-it.jpg");
}
.background-image4 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_635,c_limit/c300be47-4f43-4b90-8ce4-098a4866ede1/nike-just-do-it.jpg");
}
.background-image {
    height: 600px;
    background-size: cover;
    background-position: top;
}
@media (min-width: 1400px) {
    .line-four > .background-image {
        transition: 1s;
        height: 800px;
    }
}
.parent-item {
    position: relative;
    top: 60%;
    margin-left: 10%;
    color: white;
    cursor: pointer;
}
.item-shop-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    position: relative;
    z-index: 6;
}
.item-shop-button :hover {
    color: white;
}

/* new-this-week */
.new-this-week {
    margin-top: 80px;
}
.NEW {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}
.button-shop-man {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.shop-man {
    border-radius: 30px;
    margin-right: 5px;
    border: none;
    height: 40px;
    background-color: black;
    color: white;
    width: 220px;
}
.shop-woman {
    border-radius: 30px;
    margin-left: 5px;
    border: none;
    height: 40px;
    background-color: black;
    color: white;
    width: 240px;
}
.button-shop-man :hover {
    background-color: gray;
}

/* woman-pic */
.woman-pic {
    width: 100%;
    height: 100%;
    margin-top: 48px;
}

/* scroll */
.shop-by-classics {
    font-size: 50px;
    margin-top: 84px;
    margin-bottom: 20px;
    font-weight: bold;
}
.shoes {
    width: 380px;
    height: 380px;
}


.shoes-scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow-x: scroll;
}

/* nike-membership */
.nike-membership-background1 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_748,c_limit/4c87032a-1756-47dc-b731-966f2d79285e/nike-just-do-it.jpg");
}
.nike-membership-background2 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_748,c_limit/73de197a-2e67-42aa-b4e6-aeda1883636b/nike-just-do-it.jpg");
}
.nike-membership-background3 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_748,c_limit/a3d73dc6-a36a-432c-a845-68bf59c5f876/nike-just-do-it.jpg");
}
.nike-membership-background {
    height: 600px;
    background-size: cover;
    background-position: center;
}
.nike-membership {
    font-size: 50px;
    margin-top: 84px;
    margin-bottom: 20px;
    font-weight: bold;
}
.item-nike-membership {
    position: relative;
    top: 70%;
    margin-left: 10%;
    color: white;
}
.nike-membership-shop {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    position: relative;
    z-index: 6;
}.woman3-pic {
    transition: 1s;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    z-index: 4;
}
.woman {
    width: 100%;
    height: 100%;
}

/* feature */
.feature-main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.feature {
    list-style: none;
}
.feature :hover {
    color: black;
    cursor: pointer;
}
.feature-head {
    margin-bottom: 20px;
}
.feature-body {
    margin-bottom: 10px;
}
.feature-gray {
    color: gray;
}
/* feature-display-when-small-screen  */
.feature-small-screen {
    height: 150px;
    margin-top: 50px;
}
.child-feature-small-screen {
    height: 100%;
}
.second-feature {
    height: 100%;
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
@media (max-width: 600px) {
    .feature-main {
        transition: 1s;
        display: none;
    }
}
@media (min-width: 600px) {
    .feature-small-screen {
        transition: 1s;
        display: none;
    }
}



/* footer */
.parents-footer {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 70px;
}
.footer-child {
    display: flex;
    justify-content: space-between;
}
.footer-child :hover {
    color: white;
    cursor: pointer;
}
.footer {
    list-style: none;
}
.social-link-icon {
    margin: 5px;
}
.footer-body {
    margin-bottom: 20px;
}
.footer-main {
    margin-top: 50px;
}
.footer-icon {
    margin-right: 40px;
    margin-left: 40px;
}
.second-footer {
    color: gray;
    font-size: 12px;
}
.footer-white {
    font-size: 12px;
}
.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: gray;
    font-size: 12px;
}
.list :hover {
    color: white;
    cursor: pointer;
}
.footer-link {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    margin: 20px;
}
.united {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.under {
    display: flex;
    justify-content: space-between
}
.location {
    margin-right: 10px;
    margin-bottom: 5px;
}
.your-privacy {
    margin-right: 10px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .parents-footer {
        transition: 1s;
        display: none;
    }
}
@media (min-width: 601px) {
    .footer-small-screen {
        transition: 1s;
        display: none;
    }
}
/* footer-display-when-small-screen  */
.footer-small-screen {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding-bottom: 20px;
}
.child-footer-small-screen {
    padding-top: 30px;
}
.list1-footer-small-screen {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: -8px;
}

.list2-footer-small-screen {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: -8px;
}

.list3-footer-small-screen {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: grey;
    gap: 30px;
    position: relative;
    left: -8px;
    cursor: pointer;
    margin-bottom: 0%;
}

.svg4-in-footer-small-screen {
    margin-left: 20px;
    padding-top: 30px;
    cursor: pointer;
}

.location-in-footer-small-screen {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 30px;
}
.united-small-screen {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.location-small-screen {
    position: relative;
    bottom: 2px;
}
.footer-link-small-screen {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    margin-left: 5px;
    padding-top: 10px;
}
.list3-footer-small-screen :hover {
    color: white;
}
.svg-small {
    display: flex;
    gap: 8px;
    align-items: center;
}
.svg-small > img {
    position: relative;
    top: -2px;
}
.svg4-in-footer-small-screen :hover {
    fill: white;
}


.container {
    width: 100%;
}
@media(min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media(min-width: 760px) {
    .container {
        max-width: 760px;
    }
}
@media(min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media(min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media(min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
@media(min-width: 2000px) {
    .container {
        max-width: 2000px;
    }
    .woman3-pic > .nike-membership-background {
        height: 800px;
    }
    .main-shop-by-classic > .shoes-scroll > img {
        width: 700px;
        height: 650px;
    }
    .logo-list > .center {
        position: relative;
        transition: 2s;
        left: -10%;
    }
}