@media (min-width: 1200px) {
    .svg-icon > .icon3 {
        display: none;
    }
    .svg-icon {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width:1200px) {
    .center {
        display: none;
    }
    .search-button > .search {
        display: none;
    }
    .search-button {
        position: relative;left: -8%;
    }
    .svg-icon {
        display: flex;
        width: 100%;
    }
    .navbar2 > .navbar2-child > .search-button-2icon {
        width: 50%;
    }
}
@media(max-width: 720px) {
    .header-top {
        display: none;
    }
}
@media (max-width: 1200px) {
    .photo-3 {
        display: flex;
        overflow-x: scroll;
    }
    .photo-3 > .item {
        width: 365px;
        height: 405px;
    }
}
@media(max-width: 720px) {
    .list-men {
        display: none;
    }
}
@media (max-width: 780px) {
    .background-third-photo > .leave {
        font-size: 40px;
    }
    .background-third-photo > .air {
        font-size: 40px;
    }
}
@media(max-width: 780px) {
    .image2 > .picture2 {
        display: grid;
        grid-template-columns: 12fr;
    }
}

/* header  */
.header-top {
    background-color: #F5F5F5;
}
.header-child-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.list-header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}
.list-header > li > span {
    margin: 5px;
}
.jordan-logo {
    display: flex;
    width: 70px;
    justify-content: space-between;
}
/* navbar  */
.navbar2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar2-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center > .list-navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}
.list-navbar > a {
    color: black;
    text-decoration: none;
}
.search {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 190px;
    height: 40px;
    border:  1px gray;
    background-color: #f5f5f5;;
    padding-left: 40px;
    outline: white;
}
.search-button {
    display: flex;
    align-items: center;
}
.search-button > svg {
    position: relative;
    left: 18%;
}
.nike-logo > .pre-logo-svg {
    width: 80px;
    height: 100%;
}
.logo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}
.logo-list > a {
    color: black;
}
.search-button-2icon {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.svg-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* discount */
.discount {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 58px;
    width: 100%;

}
.discount > p {
    margin-top: 18px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

/* women-navbar  */
.men-header {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}
.men-navbar {
    display: flex;
    align-items: center;
}
.list-men {
    width: 60%;
}
.men-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    list-style: none;
    margin-top: 10px;
}
.men-list > a {
    color: black;
    text-decoration: none;
}
.men-list > a :hover {
    color: gray;
}
.men {
    font-size: 24px;
    width: 40%;
}

/* paragraph-under-pic */
.Shop {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}
.button-shop :hover {
    background-color: gray;
}
.step {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -10px;
    color: rgb(17, 17, 17);;
}
.air {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin-top: 0px;
    font-weight: bolder;
    color: rgb(17, 17, 17);;
}
.the-dynamic {
    display: flex;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 20px;
    color: rgb(17, 17, 17);;
}
.button-shop {
    display: flex;
    justify-content: center;
}
.image-men {
    width: 100%;
}

/* shop-essential */
.shop-essential {
    margin-top: 70px;
}
.photo-3 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-3men {
    width: 100%;
}
/* black-man-photo */
.marathon {
    margin-top: 70px;
    margin-bottom: 30px;
}
.black-man-shop {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
}
.button-black-man-shop :hover {
    background-color: gray;
}
.nike-alphafly {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -10px;
    color: rgb(17, 17, 17);;
}
.leave {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin-top: 0px;
    font-weight: bolder;
    color: rgb(17, 17, 17);;
}
.stay-from {
    display: flex;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 20px;
    color: rgb(17, 17, 17);;
}
.button-black-man-shop {
    display: flex;
    justify-content: center;
}
.image-black-man {
    width: 100%;
}

/* shoes-scroll */
.classic-spotlight {
    margin-bottom: 30px;
}
.parent-shoes-scroll {
  margin-top: 100px;  
}
.shoes-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
.shoes-scroll > img {
    width: 400px;
    height: 400px;
}
/* image2 */
.trending {
    margin-bottom: 30px;
}
.item-image2 {
    color: white;
    position: relative;
    top: 70%;
    margin-left: 10%;
}
.button-image2 {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
}
.image2 {
    margin-top: 100px;
}
.picture2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.background-picture1 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_906,c_limit/9ef60642-b323-4030-b24e-40d1c8764f8c/men-s-shoes-clothing-accessories.jpg");
}
.background-picture2 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_906,c_limit/1ab5962f-f473-4355-a7f3-a75356e4a4a4/men-s-shoes-clothing-accessories.jpg");
}
.picture {
    height: 515px;
    background-size: cover;
    background-position: center;
}

/* second-shoes-scroll */
.popular-right-now {
    margin-bottom: 30px;
}
.second-shoes-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
.grandparent-second-shoes-scroll {
    margin-top: 100px;
}
/* background-picture-upper-feature */
.grandparent-picture-upper-feature {
    position: relative;
    top: 100px;
}
.background-button-shop1 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/292e33ac-2320-4e7e-bbc4-6f596e266ab2/women-s-shoes-clothing-accessories.png");
}
.background-button-shop2 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/39412611-0af5-4770-8c2e-ef5c23bc6a3d/women-s-shoes-clothing-accessories.jpg");
}
.background-button-shop3 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/37b262a3-c8c7-49e8-a29f-8d46bc8ab950/women-s-shoes-clothing-accessories.jpg");
}
.background-button-shop4 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/cdfa87e8-3509-47a9-b7bc-2a51a2d02a7a/women-s-shoes-clothing-accessories.jpg");
}
.background-button-shop5 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/c17ae904-9307-4575-8ac1-ad08adafe17f/women-s-shoes-clothing-accessories.jpg");
}
.background-button-shop6 {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_447,c_limit/a30f2018-0bd3-4758-94ef-a9bb6c37b314/women-s-shoes-clothing-accessories.jpg");
}
.nike-picture-upper-feature {
    margin-bottom: 30px;
}
.parent-background {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    overflow-x: scroll;
}
.background {
    height: 550px;
    width: 445px;
    color: white;
}
.nike-membership-shop {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 40px;
}
.celebrate {
    width: 100px;
}
.customize {
    width: 100px;
}
.item-nike-membership  {
    position: relative;
    top: 70%;
    margin-left: 10%;
}

/* feature */
.feature-main {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.feature {
    list-style: none;
}
.feature :hover {
    color: black;
    cursor: pointer;
}
.feature-head {
    margin-bottom: 20px;
}
.feature-body {
    margin-bottom: 10px;
}
.feature-gray {
    color: gray;
}
/* feature-display-when-small-screen  */
.feature-small-screen {
    height: 150px;
    margin-top: 150px;
}
.child-feature-small-screen {
    height: 100%;
}
.second-feature {
    height: 100%;
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
@media (max-width: 600px) {
    .feature-main {
        display: none;
    }
}
@media (min-width: 600px) {
    .feature-small-screen {
        display: none;
    }
}


/* footer */
.parents-footer {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 70px;
}
.footer-child {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.footer-child :hover {
    color: white;
}
.footer {
    list-style: none;
}
.social-link-icon {
    margin: 5px;
}
.footer-body {
    margin-bottom: 20px;
}
.footer-main {
    margin-top: 50px;
}
.footer-icon {
    margin-right: 40px;
    margin-left: 40px;
}
.second-footer {
    color: gray;
    font-size: 12px;
}
.footer-white {
    font-size: 12px;
}
.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}
.list :hover {
    color: white;
}
.footer-link {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    margin: 20px;
}
.united {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.under {
    display: flex;
    justify-content: space-between
}
.location {
    margin-right: 10px;
    margin-bottom: 5px;
}
.your-privacy {
    margin-right: 10px;
    margin-bottom: 5px;
}
@media (max-width: 600px) {
    .parents-footer {
        display: none;
    }
}
@media (min-width: 601px) {
    .footer-small-screen {
        display: none;
    }
}
/* footer-display-when-small-screen  */
.footer-small-screen {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding-bottom: 20px;
}
.child-footer-small-screen {
    padding-top: 30px;
}
.list1-footer-small-screen {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: -8px;
}

.list2-footer-small-screen {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: -8px;
}

.list3-footer-small-screen {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: grey;
    gap: 30px;
    position: relative;
    left: -8px;
    cursor: pointer;
    margin-bottom: 0%;
}

.svg4-in-footer-small-screen {
    margin-left: 20px;
    padding-top: 30px;
    cursor: pointer;
}

.location-in-footer-small-screen {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 30px;
}
.united-small-screen {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.location-small-screen {
    position: relative;
    bottom: 2px;
}
.footer-link-small-screen {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    margin-left: 5px;
    padding-top: 10px;
}
.list3-footer-small-screen :hover {
    color: white;
}
.svg-small {
    display: flex;
    gap: 8px;
    align-items: center;
}
.svg-small > img {
    position: relative;
    top: -2px;
}
.svg4-in-footer-small-screen :hover {
    fill: white;
}


.container {
    width: 100%;
}
@media(min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media(min-width: 760px) {
    .container {
        max-width: 760px;
    }
}
@media(min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media(min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media(min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
@media(min-width: 2000px) {
    .container {
        max-width: 2000px;
    }
    .logo-list > .center {
        position: relative;
        transition: 2s;
        left: -12%;
    }
    .parent-shoes-scroll > .shoes-scroll > img {
        width: 600px;
        height: 700px;
    }
    .picture2 > .picture {
        height: 800px;
    }
    .child-second-shoes-scroll > div > img {
        width: 500px;
        height: 600px;
    }
    .parent-background > .background {
        height: 800px;
        width: 600px;
        background-size: cover;
    }
}